@use "./commonPartials" as *;
.landing_page{
    width: 100%;
    height: 100vh;
   /*  position: relative; */
// @include diplayFlex( );
    .bgop{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(222, 126, 219, 0.275);
    }
    .Bg_pic{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .data_page{
        position: absolute;
        color: white;
        height: 100%;
        width: 100%;
        @include diplayFlex(center,none );
        .center{
            height: 400px;
            @include diplayFlex();
            // display: flex;
            // justify-content: center;
            // align-items: center;
            
        }
        .content{
          /*   position: absolute; */
            right: 350px;
            top: 200px;
           /*  margin: 150px 0 20px 350px; */
            text-align: center;
            height: auto;
            width: 836px;
            @include diplayFlex();
            // display: flex;
            // justify-content: center;
            // align-items: center;
            flex-direction: column;
            
    
            .paly_button{
        
                font-size: 15px;
                    @include diplayFlex( );
                // padding: 20px;
                width: 70px;
                height: 70px;
                text-align: center;
                /* border: 2px solid $buttoncolor; */
                background-color: $buttoncolor;
                border-radius: 100%;  
                animation-name: playbutton;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }
            p{
                font-size: 16px;
                padding: 0 0 16px;
                /* font-weight: bold; */
                margin-top: 15px;
            }
            h1{
                font-size: 60px;
                font-weight: 300;
                margin: 0 0 8px;
            }
        }
       
        .search_deatils{
            @include diplayFlex(space-around);
            // display: flex;
            // justify-content: space-around;
            // align-items: center;
            position: absolute;
            bottom: 0;
            height: auto;
            width: 1130px;
            background-color: #33313b;
            padding: 15px;
            font-size: 18px;
            bottom: 0px;
            /* font-weight: bold; */
            .destination{
                .destination__search{
                    display: flex;
                    
    
                }
            }
            input, select{
                background-color: #33313b;
                color: white;
                /* font-weight: bold; */
                font-size: 18px;
                width: 184px;
                height: 25px;
                text-align: left;
                border: 1px  $colour1;
               
            }
            button{
                height: 68px;
                width: 184px;
                border: 2px solid $buttoncolor;
                background-color: $buttoncolor;
                border-radius: 35px;
                font-size: 16px;
                color: white;
                /* font-weight: bold; */
            }
            
        }
        i{
            padding: 5px;
            
        }
    }

}
@keyframes playbutton {
    0%{
       /*  height: 70px;
        width: 70px; */
        border: 10px solid $buttoncolor;
    }
    25%{
        /* height: 72px;
        width: 72px; */
        border: 10px solid $buttoncolor;
    }
    50%{
       /*  height: 75px;
        width: 75px; */
        border: 10px solid $buttoncolor;
    }
    75%{
      /*   height: 77px;
        width: 77px; */
        border: 10px solid $buttoncolor;
    }
    100%{
        /* height: 80px;
        width: 80px; */
        border: 1px solid $buttoncolor;
    }
}

@media (max-width:768px){
    .landing_page{
        .data_page{
            .content{
                height: auto;
                width: 768px;
                display: block;
               /*  position: absolute; */
                left: 0px;
                p{
                    font-size: 16px;
                }
                h1{
                    font-size: 40px;
                }
                .paly_button{
                   display: none;
                }
            }
           
           .search_deatils{
                 /*   position: absolute;  */
                    bottom: -200px;
                   text-align: left;
                    display: block;
                    height: 300px;
                    width: 600px;
                    
                    
                    padding: 20px; 
          }
            
          
            }
        }
    }

   