$buttoncolor: rgb(249,171,48);
$colour1: #33313b;
$colour2:#999999;
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Titillium+Web:wght@200&display=swap');

@mixin diplayFlex($justify:center,$align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;

}
 .page_6{
   height: 80vh;
   width: 100%;
   line-height: 1.6;
   letter-spacing: 1.5px;
   position: relative;
   
  
    .feedback_bg img{
    position: absolute;
    height: 600px;
    width: 100%;
   }
   .bg{
    position: absolute;
   }
   
    .feedback{
        width: 100%;
        position: absolute;
        margin-top: 30px;
        flex-wrap: wrap;
        
        h1{
          text-align: center;
            font-size: 40px;

        }
        .user_feed{
            display: flex;  
            margin-top: 50px;
            width: 100%;
            justify-content: space-evenly;
           /*  align-items: center; */
            .feedback_1,.feedback_2,.feedback_3{
                background-color: white;
               /*  margin: 40px; */
                height: 250px;
                width: 350px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                p{
                    margin: 10px;
                    color: #999999;
                    font-size: 16px;
                }
                .user_img{
                    margin: 10px;
                    display: flex;
    
                    img{
                        height: 100px;
                        width: 100px;
                        border-radius: 50px;
                    }
                    h3{
                        margin:30px 0 0 10px;
                        font-size: 20px;
                        span{
                            color: #999999;
                            font-size: 16px;
                            font-weight: 400;
                        }

                    }

                }
               
                
            }

        }
        
      
    }
 }
    
 @media (max-width:1100px){
    .page_6{
        .feedback{
            .user_feed{
                .feedback_1{

                }
                .feedback_2{
                    display: none;

                }
                .feedback_3{
                    

                }
            }
        }
    }

 }
 @media (max-width:750px){
    .page_6{
        .feedback{
            .user_feed{
                .feedback_1{

                }
                .feedback_2{
                    display: none;

                }
                .feedback_3{
                    display: none;

                }
            }
        }
    }

 }