$buttoncolor: rgb(249,171,48);
$colour1: #33313b;

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Titillium+Web:wght@200&display=swap');

@mixin diplayFlex($justify:center,$align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
}
.page_4{
    line-height: 1.6;
    letter-spacing: 1.8px;
    height: 70vh;
    width: 100%;
    
    
    h2{
        text-align: center;
        font-size: 40px;
    }
    .place_desi{
        display: flex;
        /* height: 100%; */
        width: 100%;
        // background-color: aquamarine;
        justify-content: space-evenly;
        /* align-items: center; */
        // position: absolute;
        flex-wrap: wrap;
        .box_pic{
            // position: absolute;
        /*     position: relative; */
            height: 320px;
            width: 250px;
            margin-top: 20px;
           
            .bg1 img{
                   position: absolute;
                   height: 320px;
                   width: 250px;
                   border-radius: 5px;                  
               }
           
            .bg{
                position: absolute;
                /* height: 320px;
                width: 280px; */
                h3{
                    color: rgb(248, 247, 247);
                    font-size: 22px;
                    padding: 10px;
                   
                    font-weight: 300;                    
                }
                span{
                    
                    
                    border: 1px solid #33313B;
                    background-color: #33313B;
                    color: white;
                    padding: 4px 0 4px 15px;                  
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                    font-size: 16px;                 
                }
                
                img{
                    height: 320px;
                    width: 210px;
                    
                }
            }

 
        }

    }
}